#error {
  color: red;
  margin-left: 10px;
}

.setup {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.players {
  display: flex;
  flex-direction: column;
}

#videoItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.video-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 10px 5px;
}

.configuration,
.controls {
  display: flex;
  align-items: center;
  gap: 2px;
}
